<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Рисаков Богдан Максимович</h1>
        <ul class="header-nav">
            <li><a href="#">Про мене</a></li>
            <li><a href="#">Навички</a></li>
            <li><a href="#">Досвід</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </div>
</header>
<div class="container">
    <main>
        <div class="profile">
            <div class="profile-pic">
                <img src="../img/profile.png" alt="Profile Picture">
            </div>
            <section class="section">
                <h2>Про мене</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
            </section>
        </div>
        <section class="section">
            <h2>Навички</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.</p>
            <ul>
                <li>Навичка 1</li>
                <li>Навичка 2</li>
                <li>Навичка 3</li>
            </ul>
        </section>
        <section class="section">
            <h2>Досвід</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.</p>
            <ul>
                <li>Позиція 1 - Компанія A</li>
                <li>Позиція 2 - Компанія B</li>
                <li>Позиція 3 - Компанія C</li>
            </ul>
        </section>
        <section class="section">
            <h2>Контакти</h2>
            <p>Email: example@example.com</p>
            <p>Телефон: +123456789</p>
        </section>
    </main>
</div>
<footer>
    <p>© 2024 Рисаков Богдан Максимович</p>
</footer>
</body>
</html>
